<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estore</title>
    <link rel="stylesheet" href="template.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div id="main_parent" class="mainwidth">
        <div class="countries">
            <div class="imgcountrie">
                <img src="header_icon.png" alt="">
                <select>
                    <option value="">USA</option>
                    <option value="">Canada</option>
                    <option value="">France</option>
                    <option value="">America</option>
                </select>
            </div>
            <span>+77123678989</span>
        </div>
        <div class="links">
            <li><a href="">MY account</a></li>
            <li><a href="">Wish list</a></li>
            <li><a href="">Shopping</a></li>
            <li><a href="">checkout</a></li>
        </div>
        </div>
        </header>
        <nav>
            <div class="navlists mainwidth">
            <img src="logo.png" alt="">
                <div class="navlist1">
                    <li>home</li>
                        <li>catagori</li>
                        <div class="latesttag">
                            <li>latest</li>
                            <div class="blog">Hot</div>
                        </div>
                        <li>blog</li>
                        <li>pages</li>
                        <li>contact</li>
                </div>
                <div class="navicons">
                    <input type="text" placeholder="search products">
                    <div class="searchingicon">
                         <i class="fa fa-search"></i>
                    </div>
                         <div class="hearticons">
                            <i class="fa fa-heart"></i>
                            <div class="heartcart">02</div>
                        </div>
                        <div class="shoopingcarticon">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="heartcart2">02</div>
                        </div>
                        <div class="buttontag">
                            <button>sign in</button>
                        </div>
                </div>
                </div>
        </nav>
        <section>
            <div id="herosection">
                <div class="heroimg mainwidth">
                        <img src="hero_man.png" alt="heroimg">
                    </div>
                    <div class="herocontent mainwidth">
                            <h3>60% discount</h3>
                            <h1>winter collection</h1>
                            <p>best collection by 2020!</p>
                            <div class="buttontag" id="buttonpadding">
                                <button>shop now</button>
                            </div>
                        </div>
            </div>
        </section>
        <div class="thirdsection">
        <h1>shop by category</h1>
        <div id="cards">
        <div class="card1">
            <div class="cardcontent">
                <h3>owmen's</h3>
                <div class="buttonyellow">
                    <button>best new deals</button>
                </div>
                    <h4>new collection</h4>
            </div>
        </div>
            <div class="card2">
                <div class="cardcontent2">
                    <h4>discount!</h4>
                        <h3>winter cloth</h3>
                    <p>new collection</p>
                </div>
            </div>
            <div class="card3">
                <div class="cardcontent3">
                    <h3>man's cloth</h3>
                    <div class="buttonyellow">
                        <button>best new deals</button>
                    </div>
                    <div class="cardcontent">
                        <h4>new collection</h4> 
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div id="forthsection" class="mainwidth">
            <div class="positionimg">
                <img src="card-man.png" alt="manpicture">
                <div class="forthsectioncontent">
                    <div class="forthcontent1">
                            <h1>find the best product from our shop</h1>
                        <p>Designers who are interesten creating state ofthe</p>
                    </div>
                    <button>shop now</button>
                </div>
                <div class="cardimg">
                    <img src="card-shape.png" alt="shirt">
                </div>
            </div>
        </div>
        <div id="fifthsection" class="mainwidth">
                <div class="fiveone">
                    <h1>best collection of this month</h1>
                    <p>Designers who are interesten crea.</p>
                    <div class="buttontag" id="buttonshop">
                        <button>shop now</button>
                    </div>
                    <img src="collection1.png" alt="">
                </div>
                <div class="fivesecond">
                    <img src="collection2.png" alt="">
                </div>
                <div class="fivemain">
                    <div class="fivethird">
                        <h4>Menz Winter Jacket</h4>
                        <h3>Menz Winter Jacket</h3>
                        <div class="heading">
                            <h4>Menz Winter Jacket</h4>
                        </div>
                    </div>
                    <div class="fivefour">
                        <img src="collection3.png" alt="">
                        <div class="img2">
                            <img src="collection4.png" alt="">
                        </div>
                        <div class="img3">
                            <img src="collection5.png" alt="">
                        </div>
                    </div>
                </div>
        </div>
        <div id="sixthsection" class="mainwidth">
            <div class="sixthcontent1">
                <h1>Get Our Latest Offers News</h1>
                <p>Subscribe news latter</p>
            </div>
            <div class="sixthcontent2">
                <input type="text" placeholder="your email here">
                <div class=" buttontag" id="emailbutton">
                    <button>shop now</button>
                </div>
            </div>
        </div>
        <div id="imageseight" class="mainwidth">
            <img src="gallery1.jpg" alt="">
            <img src="gallery2.jpg" alt="">
            <img src="gallery3.jpg" alt="">
            <img src="gallery4.jpg" alt="">
            <img src="gallery5.jpg" alt="">

        </div>
        <div id="footersection" class="mainwidth">
            <div class="footer1">
                <img src="logo.png" alt="">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore.</p>
            </div>
            <div class="footer2">
                <h4>Quick Links</h4>
                <ul>
                    <li>about</li>
                    <li>offers discounts</li>
                    <li>get coupan</li>
                    <li>contact us</li>
                </ul>
            </div>
            <div class="footer2" id="products">
                <h4>New products</h4>
                <ul>
                    <li>women cloth</li>
                    <li>fashion accessories</li>
                    <li>man accessories</li>
                    <li>rubber made toys</li>
                </ul>
            </div>
            <div class="footer4">
                <h4>Support</h4>
                <ul>
                    <li>frequently asked question</li>
                    <li>terms conditions</li>
                    <li>privacy policy</li>
                    <li>privacy policy</li>
                    <li>report a payment issue</li>
                </ul>
            </div>

        </div>
</body>
</html>