<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="genial.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
      <div id="mainsection">
        <header>
          <div class="firstsection" id="mainwidth">
            <div class="logoimg">
                <img src="black-logo.png" alt="logo">
            </div>
            <div class="listing">
                <li>home</li>
                <li>services</li>
                <li>how it works</li>
                <li>pricing</li>
                <li>contact</li>
                <div class="button">
                    <button>sign in</button>
                </div>
            </div>
        </div>  
    </header>
    <nav>
        <div class="navsection" id="mainwidth">
            <div class="herocontent">
                <h1>Own The Moment, Not The Car!</h1>
                    <p>It should be noted that although application software is thought of as a program, it can be anything that runs on a computer.</p>
                    <div class="inputsection">
                        <input type="text" placeholder="enter email adress">
                        <div class="inputbutton">
                            <button>subscribe now</button>
                            </div>
                        </div>
                    </div>
                            <div class="imagesection">
                                <img src="car-with-man.png" alt="image">
                            </div>
                                
                    </div>
        </nav>

      </div>
      <div class="thirdsection" id="mainwidth">
        <div class="thirdone">
            <h3>services</h3>
            <h1>What’s Included in a Genial Subscription?</h1>
            <img src="car-icon.png" alt="car-icon">
        </div>
        <div class="thirdtwo">
            <div class="cardimg">
                <img src="car-services1.jpg" alt="">
                <img src="car-services2.jpg" alt="">
                <img src="car-services3.jpg" alt="">
            </div>
            <div class="cardcontent">
                <div class="card1 card2">
                    <h3>Free Delivery</h3>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
                <div class="card1 card4">
                    <h3>Switch Cars</h3>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
                <div class="card1 card3">
                    <h3>Choice</h3>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
            </div>
        </div>
         <div class="thirdtwo">
            <div class="cardimg thirdimg">
                <img src="car-services4.jpg" alt="">
                <img src="car-services5.jpg" alt="">
                <img src="car-services6.jpg" alt="">
            </div>
            <div class="cardcontent">
                <div class="card1 card10">
                    <h3>issurance</h3>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
                <div class="card1 card11">
                    <h3>services & registration</h3>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
                <div class="card1 card12">
                    <h3>no surprises</h3>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
            </div>
        </div>
      </div>
      <div class="fourtsection">
        <div class="fourone">
            <h3>about</h3>
            <h2>how it works</h2>
            <div class="carpic">
                <img src="car-icon.png" alt="car">
            </div>
        </div>
        <div class="fourtwo">
            <div class="colum1">
                <div class="columcontent">
                    <h3>.01</h3>
                    <h2>select your car</h2>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
                <div class="arrowimg">
                    <img src="arrow-big.png" alt="arrow">
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <h3>.02</h3>
                    <h2>confirm your pick</h2>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
                <div class="arrowimg">
                    <img src="arrow-big.png" alt="arrow">
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <h3>.03</h3>
                    <h2>drive</h2>
                    <p>This should be used to tell a story and talk about your product.</p>
                </div>
            </div>
        </div>
      </div>
      <div class="fifthsection" id="mainwidth">
         <div class="fifthcontent">
            <div class="fifthcontent1">
                <h3>our features</h3>
                <h1>We Provide The Solutions To Grow Your Business</h1>
                <p>This should be used to tell a story about your product or service. How can you benefit them?</p>
            </div>
            <div class="fifthcontent2">
                <div class="fivecard1">
                <i class="fa fa-car"></i>
                <h3>one free</h3>
                <div class="background">
                </div>
                </div>
                 <div class="fivecard1">
                <i class="fa fa-car"></i>
                <h3>hassle free</h3>
                <div class="background">
                </div>
                </div>
                 <div class="fivecard1">
                <i class="fa fa-car"></i>
                <h3>maintainance</h3>
                <div class="background">
                </div>
            </div>
            </div>
         </div>
         <div class="fifthimg">
            <img src="man-and-women.png" alt="image">
         </div>
      </div>
      <div class="sixsection">
        <div class="sixmain" id="mainwidth">
            <div class="sixheading">
                <h4>feature car?</h4>
                <h1>feature car for subscription?</h1>
            </div>
            <div class="siximages">
                <div class="siximg1">
                    <img src="featured-cars1.jpg" alt="">
                </div>
                <div class="siximg1">
                    <img src="featured-cars2.jpg" alt="">
                </div>
                <div class="siximg1">
                    <img src="featured-cars3.jpg" alt="">
                </div>
            </div>
        </div>
       <div class="sixcontent">
        <h4>2015 toyota corolla</h4>
        <h4>2015 toyotta corolla</h4>
        <h4>2015 toyotta corolla</h4>
       </div>
       </div>
       <div class="seventhsection" id="mainwidth">
        <div class="seventhcontent">
            <h4>testinomals</h4>
            <h1>what our customer says</h1>
            <div class="carseven">
                <img src="car-icon.png" alt="car">
            </div>
        </div>
        <div class="seventhcontent2">
            <div class="card33">
                <div class="card33img">
                    <img src="client1.png" alt="picture">
                </div>
                    <div class="par">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quia fuga quas aspernatur explicabo, laboriosam sint velit distinctio incidunt assumenda vel deleniti magnam culpa sapiente quibusdam ullam aliquam in reprehenderit!</p>
                    </div>
                    <div class="card33content">
                        <h3>jason sthatm</h3>
                        <h5>CEO theme forest</h5>
                    </div>
            </div>
            <div class="card33">
                <div class="card33img">
                    <img src="client2.png" alt="picture">
                </div>
                    <div class="par">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quia fuga quas aspernatur explicabo, laboriosam sint velit distinctio incidunt assumenda vel deleniti magnam culpa sapiente quibusdam ullam aliquam in reprehenderit!</p>
                    </div>
                    <div class="card33content">
                        <h3>jason sthatm</h3>
                        <h5>CEO theme forest</h5>
                    </div>
            </div>
            <div class="card33">
                <div class="card33img">
                    <img src="client3.png" alt="picture">
                </div>
                    <div class="par">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quia fuga quas aspernatur explicabo, laboriosam sint velit distinctio incidunt assumenda vel deleniti magnam culpa sapiente quibusdam ullam aliquam in reprehenderit!</p>
                    </div>
                    <div class="card33content">
                        <h3>jason sthatm</h3>
                        <h5>CEO theme forest</h5>
                    </div>
            </div>
        </div>
       </div>
       <div class="eightsection" id="mainwidth">
        <div class="eightcontent1">
            <div class="eightimg">
                <img src="man-and-women.png" alt="man">
            </div>
            <h1>Start Your 30 Days Free Trials Today!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="eightbutton">
                <button>try it free</button>
            </div>
            <h2>Trusted by Over 2.5 Million Company</h2>
        </div>
        <div class="eightcontent2" id="mainwidth">
           <img src="software-partner5.png" alt="">
           <img src="software-partner4.png" alt="">
           <img src="software-partner3.png" alt=""> 
           <img src="software-partner2.png" alt="">
           <img src="software-partner1.png" alt="">
        </div>
       </div>
       <div class="sixsection ninesection">
        <div class="ninthmain" id="mainwidth">
            <div class="ninthcontent1">
                <h5>pricing</h5>
                <h2>genial monthly plans</h2>
                <div class="ninthlogo">
                    <img src="car-icon.png" alt="">
                </div>
            </div>
            <div class="cardnine">
            <div class="card34">
                <div class="icons">
                    <i class="fa fa-tachometer"></i>
                </div>
                <h5>economy</h5>
                <div class="ninelist">                
                        <li>inssurance included</li>
                        <li>toyotta yaris or similar</li>
                        <li>inssurance included</li>
                        <li>toyotta yaris or similar</li>                  
                </div>
                <div class="line">------------------------------------</div>
                <h4>$499</h4>
                 <p>per month+text</p>
                 <div class="ninebutton">
                    <button>select</button>
                 </div>              
            </div>
             <div class="card34 card35">
                <div class="icons icon2">
                    <i class="fa fa-tachometer"></i>
                </div>
                <h5>standard</h5>
                <div class="ninelist">
                        <li>inssurance included</li>
                        <li>toyotta yaris or similar</li>
                        <li>inssurance included</li>
                        <li>toyotta yaris or similar</li>                  
                </div>
                <div class="line2">------------------------------------</div>
                <h4>$499</h4>
                 <p>per month+text</p>
                 <div class="ninebutton ninebutton2">
                    <button>select</button>
                 </div>              
            </div>
             <div class="card34">
                <div class="icons">
                    <i class="fa fa-tachometer"></i>
                </div>
                <h5>midsize</h5>
                <div class="ninelist">
                        <li>inssurance included</li>
                        <li>toyotta yaris or similar</li>
                        <li>inssurance included</li>
                        <li>toyotta yaris or similar</li>                  
                </div>
                <div class="line">------------------------------------</div>
                <h4>$499</h4>
                 <p>per month+text</p>
                 <div class="ninebutton">
                    <button>select</button>
                 </div>              
            </div>
            </div>
        </div>
       </div>
       <div class="tenthsection" id="mainwidth">
        <div class="tenthone">
            <h2>frequently asked question</h2>
            <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
        </div>
        <div class="tenthmain">

            <div class="tenthtwo">
                <p>how do permissions work in google play instant?</p>
        </div>
        <div class="tenththree">
            <div class="tenthtwo border">
                <p>is smart lock required for insta apps?</p>
            </div>
            <div class="tenthtwo border">
                <p>is smart lock required for insta apps?</p>
            </div>
            <div class="tenthtwo border">
                <p>is smart lock required for insta apps?</p>
            </div>
            <div class="tenthtwo border">
                <p>is smart lock required for insta apps?</p>
            </div>
        </div>          
        </div>
       </div>
       <div class="elevensection">
        <div class="elevencontent" id="mainwidth">
            <div class="elevenone">
                <h2>download our apps today</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit diam lacus, eu euismod augue tincidunt non. Nam vestibulum vulputate sem sed ultrices. Duis et leo quam. Vestibulum eros purus, eleifend vel volutpat id, consectetur in urna. Nam vestibulum vulputate sem sed ultrices.</p>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum hendrerit diam lacus, eu euismod augue tincidunt non. Nam vestibulum vulputate.</p>
             <div class="elevenbutton">
                <div class="elevenbutton1">
                    <button>availabe on google store</button>
                </div>
                 <div class="elevenbutton2">
                    <button>availabe on google store</button>
                </div>
             </div>
                </div>
                <div class="elevencontent2">
                    <img src="man-and-women.png" alt="">
                </div>
        </div>
       </div>
      <div class="footersection">
        <div class="footercontent" id="mainwidth">
            <div class="footer1">
                <div class="whitelogo">
                    <img src="white-logo.png" alt="">
                </div>
                <h6>1828 Johns Drive Glenview, IL 60025</h6>
                <h6>2245678967</h6>
                <h6>support@genial.com</h6>
                <h6>www.genial.com</h6>
            </div>
            <div class="footer2">
                <h3>quick links</h3>
                <li>home</li>
                <li>features</li>
                <li>screenshot</li>
                <li>pricing</li>
                <li>news</li>
            </div>
            <div class="footer2">
                <h3>quick links</h3>
                <li>home</li>
                <li>features</li>
                <li>screenshot</li>
                <li>pricing</li>
                <li>news</li>
            </div>
            <div class="footer2">
                <h3>quick links</h3>
                <li>home</li>
                <li>features</li>
                <li>screenshot</li>
                <li>pricing</li>
                <li>news</li>
            </div>
        </div>

      </div>
</body>
</html>