<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="acdamia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>
</head>
<body>
    <div id="mainsection">
        <header>
            <div class="firstsection" id="mainwidth">
                <div class="logo">
                    <h1>ACADEMIA</h1>
                    <p>online education&learning</p>
                </div>
                <div class="mainclock">
                    <div class="clockphone">
                        <i class="fa fa-clock-o"></i>
                    <div class="info">
                        <h4>monday-friday</h4>
                        <span>8.00AM-8.00PM</span>
                    </div>
                </div>
                <div class="clockphone">
                    <i class="fa fa-phone"></i>
                    <div class="info">
                        <h4>call us</h4>
                        <span>02-347793-8487</span>
                    </div>
                </div>
                <div class="socialicons">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-snapchat"></i>
                    <i class="fa-solid fa-file"></i>
                </div>
            </div>        
            </div>
        </header>
        <section>
            <div class="secondsection" id="mainwidth">
                <div class="links">
                    <li><a href="">home</a></li>
                    <li><a href="">all courses</a></li>
                    <li><a href="">about</a></li>
                    <li><a href="">team</a></li>
                    <li><a href="">pricing</a></li>
                    <li><a href="">journal</a></li>
                    <li><a href="">contact</a></li>
                </div>
                    <div class="btn">
                        <button>get certificate</button>
                    </div>
                    <div class="menubar">
                        <i class="fa fa-bars">&nbsp;&nbsp;MENU</i>
                    </div>
            </div>
        </section>  
        <div class="thirdsection" id="mainwidth">
            <h4>welcome to academia</h4>
            <h1>Best Online Education Expertise</h1>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>  
            <div class="mainbutton">
                <div class="button">
                    <button>get started now!&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
                </div>
            <div class="button2">
                <button class="btn2">view course!&nbsp;&nbsp;<i class="fa fa-arrow-right"></i></button>
            </div>
        </div>
        </div>
    </div>
<div class="forthsection" id="mainwidth">
    <div class="image1">
    </div>
    <div class="forthcontent">
        <h5>learn anything</h5>
        <h1>Benefits About Online Learning Expertise</h1>
        <div class="cards">
            <i class="fa fa-search"></i>
            <div class="cardcontent">
                <h4>online courses</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="cards">
            <i class="fa fa-search"></i>
            <div class="cardcontent">
                <h4>earn a certificate</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="cards">
            <i class="fa fa-search"></i>
            <div class="cardcontent">
                <h4>learn with expert</h4>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
    </div>
</div>
<div class="fifthsection">
    <div class="mainfive" id="mainwidth">
        <div class="fifthcontent">
            <i class="fa fa-shopping-cart"></i>
            <div class="fifthmaterial">
        <span>3,000</span>
        <h4>success stories</h4>
    </div>
</div>
<div class="fifthcontent">
    <i class="fa fa-shopping-cart"></i>
    <div class="fifthmaterial">
        <span>3,000</span>
        <h4>trust tutors</h4>
    </div>
</div>
<div class="fifthcontent">
    <i class="fa fa-shopping-cart"></i>
    <div class="fifthmaterial">
        <span>3,000</span>
        <h4>schedule</h4>
    </div>
</div>
<div class="fifthcontent">
    <i class="fa fa-shopping-cart"></i>
    <div class="fifthmaterial">
        <span>3,000</span>
        <h4>courses</h4>
    </div>
</div>
</div>
</div>
<div class="sixthsection" id="mainwidth">
    <div class="cardheading">
        <h4>our courses</h4>
        <h1>Explore Our Popular Online Courses</h1>
    </div>
    <div class="cardonlinecourses">
        <div class="maincard">
            <div class="cardsection">
            <div class="cardicon">
                <i class="fa-brands fa-facebook-f"></i>
            </div>
                <div class="cardmaterial">
                    <h2>HTML, CSS, and Javascript for Web Developers</h2>
                <div class="star">
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                </div>
                <div class="bgsection">
                    <div class="bgimage">
                    </div>
                    <div class="bgmaterial">
                        <h5>by john smith</h5>
                        <p>50 lectures(190 hrs)</p>
                    </div>
                </div>
            </div>
        </div>
            <div class="paragraphsection">
                <p>$100 all courses /$per month</p>
                <button>enroll now!</button>
            </div>
    </div>
    <div class="maincard">
        <div class="cardsection">
            <div class="cardicon">
                <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="cardmaterial">
                <h2>HTML, CSS, and Javascript for Web Developers</h2>
                <div class="star">
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                </div>
                <div class="bgsection">
                    <div class="bgimage">
                    </div>
                    <div class="bgmaterial">
                        <h5>by john smith</h5>
                        <p>50 lectures(190 hrs)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="paragraphsection">
            <p>$100 all courses /$per month</p>
            <button>enroll now!</button>
        </div>
        
    </div>
    <div class="maincard">
        <div class="cardsection">
            <div class="cardicon">
                <i class="fa-brands fa-snapchat"></i>
            </div>
            <div class="cardmaterial">
                <h2>HTML, CSS, and Javascript for Web Developers</h2>
                <div class="star">
                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                </div>
                <div class="bgsection">
                    <div class="bgimage">
                    </div>
                    <div class="bgmaterial">
                        <h5>by john smith</h5>
                        <p>50 lectures(190 hrs)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="paragraphsection">
            <p>$100 all courses /$per month</p>
                <button>enroll now!</button>
        </div>
    </div>
</div>
    </div>
<div class="seventhsection" id="mainwidth">
    <div class="sevencard">
<h4>courses</h4>
<h1>browse our online courses</h1>
    </div>
        <div class="section1">
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa fa-laptop"></i>
                    <h5>UI/UX Design courses</h5>
                    <span>25 courses</span>
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa-solid fa-palette"></i>
                    <h5>Art & Design</h5>
                    <span>25 courses</span>
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa-solid fa-robot"></i>
                    <h5>computer science</h5>
                    <span>25 courses</span>
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa-solid fa-shirt"></i>
                    <h5>history</h5>
                    <span>25 courses</span>
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa-solid fa-sun"></i>
                    <h5>software</h5>
                    <span>25 courses</span>
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa-solid fa-face-smile"></i>
                    <h5>information software</h5>
                    <span>25 courses</span>
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa-solid fa-solar-panel"></i>
                    <h5>marketing</h5>
                    <span>25 courses</span>
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa-solid fa-star"></i>
                    <h5>graphic designing</h5>
                    <span>25 courses</span>
                </div>
            </div>
            <div class="colum1">
                <div class="columcontent">
                    <i class="fa-solid fa-shield-halved"></i>
                    <h5>music</h5>
                    <span>25 courses</span>
                </div>
        </div>
        <div class="colum1">
            <div class="columcontent">
                <i class="fa-solid fa-shop"></i>
                <h5>business</h5>
                <span>25 courses</span>
            </div>
        </div>
        <div class="colum1">
            <div class="columcontent">
                <i class="fa-solid fa-shop"></i>
                <h5>software engineering</h5>
                <span>25 courses</span>
            </div>
        </div>
        <div class="colum1">
            <div class="columcontent">
                <i class="fa-solid fa-stethoscope"></i>
                <h5>healt&fitness</h5>
                <span>25 courses</span>
            </div>
        </div>
    </div>
</div>
<div class="eightsecion" id="mainwidth">
    <div class="eightheading">
        <h4>testinomals</h4>
        <h1>our successfull students</h1>
    </div>
    <div class="eightcards">
        <div class="eight1">
            <div class="flexp">
                <div class="backgroundsec">
                    <div class="eightbg"></div>
                    <div class="eighticon">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>
                <div class="eightmaterial">
                    <h3>roger scott</h3>
                    <p>MARKETING MANAGER</p>
                </div>
            </div>
            <div class="eightp">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
        <div class="eight1" id="eight2">
            <div class="flexp">
                <div class="backgroundsec"id="backgroundsec2">
                    <div class="eightbg"></div>
                <div class="eighticon">
                    <i class="fa fa-heart"></i>
                </div>
            </div>
            <div class="eightmaterial eightmaterial2">
                <h3>roger scott</h3>
                <p>MARKETING MANAGER</p>
            </div>
        </div>
        <div class="eightp2">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
        </div>
        </div>
        <div class="eight1">
            <div class="flexp">
                <div class="backgroundsec">
                    <div class="eightbg"></div>
                    <div class="eighticon">
                        <i class="fa fa-heart"></i>
                    </div>
                </div>
                <div class="eightmaterial">
                    <h3>roger scott</h3>
                    <p>MARKETING MANAGER</p>
                </div>
            </div>
            <div class="eightp">
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
        </div>
    </div>
</div>
<div class="ninthsection" id="mainwidth">
<div class="nineheading">
    <h4>our blog</h4>
    <h1>recent from blog</h1>
</div>
<div class="ninecards">
    <div class="nine1">
        <div class="ninebg"></div>
        <div class="ninecontent">
            <div class="nineicon">
            <i class="fa fa-search"></i>
            <h5>admin</h5>
            <i class="fa fa-shopping-cart"></i>
            <h5>JAN. 18,2021</h5>
            <i class="fa fa-star"></i>
            <div class="comment">
                <h5>3-COMMENTS</h5>
            </div>
        </div>
        <h2>build your dream software & engineering career</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
</div>
<div class="nine1">
        <div class="ninebg" id="ninebg2"></div>
        <div class="ninecontent">
            <div class="nineicon">
            <i class="fa fa-search"></i>
            <h5>admin</h5>
            <i class="fa fa-shopping-cart"></i>
            <h5>JAN. 18,2021</h5>
            <i class="fa fa-star"></i>
            <div class="comment">
                <h5>3-COMMENTS</h5>
            </div>
        </div>
        <h2>build your dream software & engineering career</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
</div>
<div class="nine1">
        <div class="ninebg" id="ninebg3"></div>
        <div class="ninecontent">
            <div class="nineicon">
            <i class="fa fa-search"></i>
            <h5>admin</h5>
            <i class="fa fa-shopping-cart"></i>
            <h5>JAN. 18,2021</h5>
            <i class="fa fa-star"></i>
            <div class="comment">
                <h5>3-COMMENTS</h5>
            </div>
        </div>
        <h2>build your dream software & engineering career</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
</div>
</div>
</div>
<div class="tenthsection" id="mainwidth">
<div class="tenthheading">
    <h4>our pricing</h4>
    <h1>pricing & packages</h1>
</div>
<div class="tenthcards">
    <div class="tenthone">
        <h5>basic plan</h5>
        <div class="amount">
            <h5>$</h5>
            <span>59k</span>
        </div>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    <div class="tenthbutton">
        <button>get started</button>
    </div>
    </div>
    <div class="tenthone">
        <h5>beginner plan</h5>
        <div class="amount">
            <h5>$</h5>
            <span>49k</span>
        </div>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    <div class="tenthbutton">
        <button>get started</button>
    </div>
    </div>
    <div class="tenthone">
        <h5>premiun plan</h5>
        <div class="amount">
            <h5>$</h5>
            <span>70k</span>
        </div>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    <div class="tenthbutton">
        <button>get started</button>
    </div>
    </div>
    <div class="tenthone">
        <h5>ultimate plan</h5>
        <div class="amount">
            <h5>$</h5>
            <span>79k</span>
        </div>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
    <div class="tenthbutton">
        <button>get started</button>
    </div>
    </div>
</div>
</div>
<div class="elevensection">
    <div class="elevencontent" id="mainwidth">
    <div class="elevenone">
        <h2>Newsletter - Stay tune and get the latest update</h2>
        <p>Far far away, behind the word mountains</p>
    </div>
    <div class="eleventwo">
        <input type="text" placeholder="enter email adress">
    </div>
    </div>
</div>
<div class="footersection">
    <div class="footercontent" id="mainwidth">
        <div class="footer1">
            <div class="logo1">
                <h2>ACADEMIA</h2>
                <p>online education&learning</p>
            </div>
            <div class="footerlist">
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <div class="footericon">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-snapchat"></i>
                </div>
            </div>
        </div>
        <div class="footer1 footer2">
            <h2>explore</h2>
            <div class="footerlist">
                <div class="flex">
                    <div class="footerarrow">
                        <i class="fa-solid fa-arrow-right"></i>
             <i class="fa-solid fa-arrow-right"></i>
              <i class="fa-solid fa-arrow-right"></i>
              <i class="fa-solid fa-arrow-right"></i>
              <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="footerlist">
                <ul>
                    <li><a href="">about us</a></li>
                    <li><a href="">explore</a></li>
                    <li><a href="">services</a></li>
                    <li><a href="">blog</a></li>
                    <li><a href="">contact</a></li>
                </ul>
            </div>
        </div>
            </div>
        </div>
        <div class="footer1 footer2">
            <h2>quick links</h2>
            <div class="footerlist">
                <div class="flex">
                    <div class="footerarrow">
                        <i class="fa-solid fa-arrow-right"></i>
             <i class="fa-solid fa-arrow-right"></i>
             <i class="fa-solid fa-arrow-right"></i>
             <i class="fa-solid fa-arrow-right"></i>
             <i class="fa-solid fa-arrow-right"></i>
            </div>
            <div class="footerlist">
                <ul>
                    <li><a href="">about us</a></li>
                    <li><a href="">explore</a></li>
                    <li><a href="">services</a></li>
                    <li><a href="">blog</a></li>
                    <li><a href="">contact</a></li>
                </ul>
            </div>
        </div>
            </div>
        </div>
        <div class="footer1 footer3">
            <h2>Recent post</h2>
            <div class="footerlist">
                <div class="postcontainer">
                    <div class="post1">
                        <div class="post-img">
                        </div>
                        <div class="postcontent">
                            <span class="date">18 Jan, 2021</span>
                              <h5>Creativity and Inspiration</h5>
                        </div>
                    </div>
                    <div class="post1">
                        <div class="post-img">
                        </div>
                        <div class="postcontent">
                            <span class="date">18 Jan, 2021</span>
                              <h5>Creativity and Inspiration</h5>
                        </div>
                    </div>
                    <div class="post1">
                        <div class="post-img">
                        </div>
                        <div class="postcontent">
                            <span class="date">18 Jan, 2021</span>
                              <h5>Creativity and Inspiration</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer1 footer4">
            <h2>Have a question?</h2>
            <div class="footerlist footerlist4">
                <div class="footer4i">
                    <div class="last">
                        <i class="fa-solid fa-cloud"></i>
                        <p>203 Fake St. Mountain View, San Francisco, California, USA</p>
                    </div>
                    <div class="last">
                        <i class="fa-solid fa-comment"></i>
                        <span>08754376551-87</span>
                    </div>
                    <div class="last">
                        <i class="fa-solid fa-circle-user"></i>
                        <p>info875gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>